.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.card{
  color: var(--ifm-font-color-base);
  border-color: var(--ifm-card-background-color);
  border-width: 1px;
  border-style: solid;
  align-items: center;
  justify-content: center;
}

.card__header{
  height: 15rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__header#img{
  flex-shrink: 0;
}

.card:hover{
  border-color: var(--ifm-color-primary);
  text-decoration: none;
  color: var(--ifm-font-color-base);
  border-width: 1px;
  border-style: solid;
}